@media screen and (min-width: 0px) {
    /* .carousel, .carousel-inner, .slide, .active {
    height: 93.5vh;
    } */


    .carousel-inner, .carousel-item, .carousel-item.active {
        height: calc(100vh - 56px);
    }



    .carousel-item > img, .carousel-item.active > img {
        object-fit: cover;
        object-position: center;
        height: calc(100vh - 56px);
    }

    #location-pic {
        width: 100%;
        height: auto;
    }

    .card-img-top {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }

    footer {
        display: none;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;
        width: 100%;
        background-color: blue;
    }

    .restaurant-logo {
        max-width: 50px;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    footer {
        display: flex;
    }

}

a {
    overflow-wrap: break-word;
}
